.data,
.data .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-100);
}

.data .fields {
  width: max-content;
}

.data .actions {
  display: flex;
  gap: var(--gap-60);

  & button {
    font-size: var(--font-size-40);
  }
}
