@import url("../../utils/css/vars.css");

dialog:open {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color-primary-dark-80);
  border-radius: 0.7rem;
  border: var(--border);
  opacity: 1;
  animation: open 0.2s forwards;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    animation: open 0.5s forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  & h2 {
    margin: 0;
  }
}

.exit {
  width: 2.5rem;
  height: auto;
  transition: var(--mouse-transition);

  &:hover {
    transform: var(--mouse-transition-grow-10);
  }
  &:active {
    transform: var(--mouse-transition-shrink-10);
  }
}
