dialog:open {
  display: flex;
  flex-direction: column;
  gap: var(--gap-100);
  padding: var(--padding-100);
  background-color: var(--color-primary-dark-80);
  border-radius: var(--border-radius-80);
  border: var(--border);
  opacity: 1;
  animation: open 0.2s forwards;
  max-width: 75%;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    animation: open 0.5s forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-100);

  & h2 {
    margin: 0;
  }
  & .exit {
    width: 2.5rem;
    height: auto;
    transition: var(--mouse-transition);

    &:hover {
      transform: var(--mouse-transition-grow-10);
    }
    &:active {
      transform: var(--mouse-transition-shrink-10);
    }
  }
}
