.field {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  min-width: 300px;
  width: 20vw;
  font-size: var(--font-size-40);

  &:has(input[type="hidden"]) {
    margin-bottom: -1.5rem;
  }
  & label {
    font-weight: bold;
  }
  & input {
    background-color: var(--color-primary-dark-60);
    border: var(--border);
    border-radius: var(--border-radius-40);
    height: 1.5rem;
    padding: 0.5rem;

    &:focus {
      background-color: var(--color-primary-dark-40);
    }
    &:disabled {
      background-color: var(--color-primary-dark-100);
    }
  }

  & img {
    margin-top: 0.5rem;
    border-radius: var(--border-radius-40);
    border: var(--border);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--gap-60);
}

.value {
  margin-top: 0.5rem;
}
.entry {
  width: 30%;
}
.entry input {
  width: 80%;
}
.value,
.entry {
  display: flex;
  align-items: center;
  gap: var(--gap-40);
}
