.menu {
  background-color: var(--color-primary-dark-40);
  position: absolute;
  font-size: var(--font-size-20);
  border: var(--border);
  border-radius: var(--border-radius-40);
  padding: 0;
  overflow: hidden;
}

.item {
  padding: 1rem;
  list-style: none;

  &:hover {
    background-color: var(--color-primary-dark-20);
  }
}
