* {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  text-align: center;
  background-color: rgb(0, 141, 243);
}

main {
  background-color: rgb(22, 56, 80);
}
