@import url("../../utils/css/vars.css");

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & * {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
