.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page h2 {
  font-size: 2rem;
  text-align: center;
}

.page h3 {
  font-size: 1.5rem;
}

.page button {
  background-color: var(--color-primary-dark-60);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: var(--border);
  cursor: pointer;
  transition: var(--mouse-transition);
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: var(--color-primary-dark-40);
  }
  &:active {
    background-color: var(--color-primary-dark-20);
    transform: var(--mouse-transition-shrink-5);
  }

  & img {
    height: fit-content;
    width: 1.7rem;
    height: auto;
  }
}
.page button:focus,
.page input:focus {
  border-style: none;
  outline: 2px white solid;
}

.page div.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
